<h2>Download Your File</h2>

<form action="/myapi/download">
    <label for="url">Enter URL to download: </label>
    <input id="url" type="text" name="url" value="{{ url }}">
    <input type="submit" value="OK">
</form>
{% if is_url_msg  %}
    <label></label>{{ is_url_msg }}
{% endif %}
{% if file_id != '' %}
    <label for="id">File ID: </label>{{ file_id }}<br>
    Your download has been started...<br>
    Check the status.
{% endif %}
<br><br>
<h2>Track your Download</h2>
<form action="/myapi/status">
    <label for="id">Enter File ID: </label>
    <input id="id" type="text" name="id" value="{{ file_id }}">
    <input type="submit" value="Get Status">
</form>
