<h2>Tracking Status of the file - {{ file_name }}</h2>
<br>
<br>
<br>
{% if msg %}
    <label></label> {{ msg }}
{% endif %}
{% if file_id %}
    <script>
        setTimeout(function(){
            window.location.reload(1)
        }, 5000);
    </script>
    <label>File Name : </label> {{file_name}}<br><br>
    <label>File Id : </label> {{file_id}}<br><br>
    <label>Total File Size : </label> {{file_size}}<br><br>
    <label>Downloaded : </label> {{downloaded_file_size}}<br><br>
    <label>Remaining : </label> {{remaining_file_size}}<br><br>
    <label>Status : </label> {{ status }}<br><br>
    <label>Estimated Completion Time : </label> {{estimated_time_to_complete}}
{% endif %}

